aiohttp==3.11.11
aiohttp_socks==0.10.1
comtypes==1.4.9
legofy==1.0.0
numpy==2.2.1
opencv_python==4.10.0.84
Pillow==11.1.0
python-telegram-bot==21.10
python_magic==0.4.27
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.0
Wand==0.6.13
