numpy==1.15.4
requests==2.21.0
uptime==3.0.1
matplotlib==2.1.1
psutil==5.4.3
google_images_download==2.5.0
comtypes==1.1.7
legofy==1.0.0
Pybooru==4.1.0
pywin32==224
zalgo_text==0.6
python_telegram_bot==11.1.0
opencv_python==3.4.0.12
Pillow==6.0.0
google_api_python_client==1.7.8
scikit_learn==0.20.3
telegram==0.0.1
PyYAML==5.1
